<h1>Dance cat!</h1>

<table>
    <tr>
        <th><img src="https://media1.tenor.com/images/c7ac05e928d8d4c6fdc88a276743d833/tenor.gif?itemid=12732115"></th>
        <th><img src="https://media1.tenor.com/images/c7ac05e928d8d4c6fdc88a276743d833/tenor.gif?itemid=12732115"></th>
        <th><img src="https://media1.tenor.com/images/c7ac05e928d8d4c6fdc88a276743d833/tenor.gif?itemid=12732115"></th>
        <th><img src="https://media1.tenor.com/images/c7ac05e928d8d4c6fdc88a276743d833/tenor.gif?itemid=12732115"></th>
        
</table>

